body{
  background-color: #FFFAFA;
}
h1  {
      color: black;
      font-size: 40pt;
      font-weight: 100;
      text-decoration: wavy;
      text-shadow: 2px 2px 5px red;
  }

}
table{
border-spacing: 0px;
}
th{
background-color: #FFFAFA;
font-size: 18px;
}
h2 {
  color: green;
  font-size: 25pt;
}
img {
  width: auto;
  border-radius: 0cap;
  filter: none;
}
html {
  text-align: center;
}
